.advantages-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    grid-gap: 20px;

    @include for-laptop{
        justify-content: center;
    }

    &__icon{
        display: flex;
        width: clamp(45px, 4.1725vw, 60px); 
        aspect-ratio: 1;

        img,svg{
            width: 100%;
            height: auto;
        }
    }

    p{
        text-align: center;
    }
}