<header class="header fixed-block">
    <div class="container">
        <div class="header__inner">

            <a href="/" class="logo">
                Money<b>Host</b>
            </a>

            <nav class="main-nav">
                <ul class="main-nav__list">
                    <li class="main-nav__item"><a href="#">Послуги</a></li>
                    <li class="main-nav__item"><a href="#">Про нас</a></li>
                    <li class="main-nav__item"><a href="#">Переваги</a></li>
                    <li class="main-nav__item"><a href="#">Відео</a></li>
                    <li class="main-nav__item"><a href="#">Відділення</a></li>
                </ul>
            </nav>

            <div class="header__wrapp">
                <div class="socials mode">
                    <span class="socials__text">Соцмережі</span>

                    <ul class="socials__list">
                        <li class="socials__item">
                            <a href="#" class="socials__link">
                                <svg width="30" height="30">
                                    <use href="img/sprite.svg#viber"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a href="#" class="socials__link">
                                <svg width="30" height="30">
                                    <use href="img/sprite.svg#tg"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a href="#" class="socials__link">
                                <svg width="30" height="30">
                                    <use href="img/sprite.svg#inst"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a href="#" class="socials__link">
                                <svg width="30" height="30">
                                    <use href="img/sprite.svg#fb"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>

                <button class="main-btn" data-btn-modal="info">Залишити заявку
                    <svg width='16' height='16'>
                      <use href='img/sprite.svg#arrow-up'></use>
                    </svg>
                </button>
            </div>

            <button class="burger">
                <span class="burger__line"></span>
            </button>
        </div>


        <div class="mobile">
            <button class="burger">
                <span class="burger__line"></span>
            </button>
            <a href="/" class="logo">
                Money<b>Host</b>
            </a>
            <div class="mobile__box">
                
            </div>
        </div>

    </div>
</header>